.apartado{
    background-color: rgb(116, 116, 116);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
}
.variables{
    background-color: #222;
    border-radius: 8px;
}
    .parrafo{
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: #fff;
        margin-left: 5%;
        margin-right: 5%;
    }

h1{
    font-weight: bolder;
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgb(47, 47, 47);
}
img{
    height: 25%;
    width: 25%;
}
.tabla-container {
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ddd;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

th {
    background-color: #ffffff;
    text-align: center;
    
}
.categoria1 {
    background-color: #ff7777; /* Color para la Categoría 1 */
}

.categoria2 {
    background-color: #86ff86; /* Color para la Categoría 2 */
}

.categoria3 {
    background-color: #51a2ff; /* Color para la Categoría 3 */
}

.categoria4 {
    background-color: #ffff77; /* Color para la Categoría 4 */
}
.decoenlace{
    text-decoration: none;
}
/* CSS para el contenedor */
.container {
  text-align: center;
  margin-top: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
}

/* CSS para el botón */
button {
  background-color: #4CAF50; /* Color de fondo verde */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 15px 32px; /* Espaciado interior del botón */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como elemento en línea */
  font-size: 16px; /* Tamaño de fuente */
  margin: 4px 2px; /* Márgenes para espaciamiento */
  cursor: pointer; /* Cambiar cursor al pasar por encima */
  border-radius: 12px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}

/* Efecto hover (cuando el ratón pasa por encima del botón) */
button:hover {
  background-color: #45a049; /* Color más oscuro al pasar el ratón */
}

/* Efecto de sombra */
button:active {
  background-color: #3e8e41; /* Color aún más oscuro cuando se hace clic */
  box-shadow: 0 5px #666; /* Sombra */
  transform: translateY(4px); /* Mover ligeramente hacia abajo */
}

input{
  background-color: #797979; /* Color de fondo verde */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 7.5px 14px; /* Espaciado interior del botón */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como elemento en línea */
  font-size: 16px; /* Tamaño de fuente */
  margin: 4px 2px; /* Márgenes para espaciamiento */
  cursor: pointer; /* Cambiar cursor al pasar por encima */
  border-radius: 12px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}
button{
    border: none;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

select {
    max-height: 50px;
    overflow-y: auto;
  }

.divformulario{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.opcion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#calculadora {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #opcion1 {
    width: 100%; /* Ancho máximo igual al 100% del contenedor */
    max-width: 200px; /* Ancho máximo específico */
  }
  #opciones {
    margin-bottom: 10px; /* Espacio entre opciones y tabla */
  }
  
  #tabla {
    margin-top: 20px; /* Espacio entre opciones y tabla */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  button {
    margin-top: 10px;
  }
option{
  text-align: left;
  justify-content: left;
  text-wrap: wrap;
  text-align: left;
  font-size: 75%;

}  
.opcion1{
  text-align: left;
  justify-content: left;
  text-wrap: wrap;
  text-align: left;
  font-size: 85%;
}
.opciones{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  font-weight: bolder;
}
#agregarFila{
  border-radius: 5%;
}
#resultado {
  margin-top: 20px; /* Espacio encima del resultado */
  color: #ffffff; /* Color del texto del resultado */
  font-size: 18px; /* Tamaño de la fuente del resultado */
}
